<div class="menu"><br>
    <div class="Frame-4568">
        <div class="Rectangle-910">
            <img src=".\assets\hu002-busqueda/buscarnss.png" class="Vector3">

        </div>
        <span class="Bscar-paciente">
            Búscar paciente
        </span>



        <div id="hexagono" class="shape">
            <img src=".\assets\hu002-busqueda/right-arrow.png" class="Vector4">
        </div>


        <img src=".\assets\hu002-busqueda/right-arrow.png" class="Vector4">

    </div>
    <div class="Subtract">
        <div class="espacio-menu">



        </div>
        <div id="cronicas" class="Opciones-menu">
            <div class="selectCronica"></div>
            <div>
                <img src="./assets/hu002-busqueda/carpeta.png" class="Vector1">
                <span class="Crnica-grupal">
                    Crónica grupal
                </span>
            </div>
        </div>

        <div id="volante" class="Opciones-menu">
            <div class="selectVolante"></div>
            <div>
                <img src="./assets/hu002-busqueda/bolsa de sangre.png" class="Vector2">
                <span class="Volante-de-Donacin-de-sangre">
                    Volante de
                    Donación de sangre
                </span>
            </div>
        </div>
        <div id="aviso" class="Opciones-menu">
            <div class="selectAviso"></div>
            <div>
                <img src="./assets/hu002-busqueda/salud.png" class="Vector1">
                <span class="Aviso-al-Ministerio-Pblico">
                    Aviso al
                    Ministerio Público
                </span>

            </div>

        </div>
        <div id="consulta" class="Opciones-menu">
            <div class="selectConsulta"></div>
            <div>
                <img src="./assets/hu002-busqueda/portafoleo.png" class="Vector1">
                <span class="Consulta-de-Informe-de-Servicios-Profesionales">
                    Consulta de Informe
                    de Servicios Profesionales
                </span>
            </div>
        </div>

    </div>
</div>